*,
body {
  margin: 0;
  padding: 0;
  background: rgb(34, 33, 33);
  color: rgb(76, 246, 201);
  font-family: sans-serif;
}

h2 {
  color: aliceblue;
  margin: 20px;
}

body {
  padding-top: 5px;
}

.part-1,
.part-2 {
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  /* Styles for screens larger than 768px width */
  .part-1 {
    width: 20%;
  }

  .part-2 {
    width: 78%;
  }
}
